@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;1,300&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* index.css */

body {
  margin: 0;
  padding: 0;
  background-color: #87CEEB; /* sky blue */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
  font-size: 16px;
}

#app-container {
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  box-sizing: border-box;
}

#timer-container {
  position: relative;
  display: inline-flex;
}

#timelabel-container {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#clock-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

#set-time-panel {
  display: grid;
  grid-template-areas:
    "session session session break break break"
    "sesh-up sesh-time sesh-down break-up break-time break-down";
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr 1fr;
  width: 700px;
  min-width: 700px;
  max-width: 700px;
  height: 200px;
  min-height: 200px;
  max-height: 200px;
  gap: 25px;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  border: 3px solid #002b4e;
  border-radius: 60px;
  padding: 30px;
}

#set-time-panel::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 50%;
  width: 3px;
  background-color: #002b4e;
}

#timer-controls {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 250px;
  height: 100px;
  margin: 30px;
}

#reset-btn:hover #reset-icon {
  transition: transform 0.5s;
  transform: rotate(180deg);
}

#pause-play-btn:hover #pause-play-icon {
  animation: flip-anim 0.3s;
}

@keyframes flip-anim {
  50% {
    transform: scaleX(-1);
  }
  100% {
    transform: scaleX(1);
  }
}

@keyframes flash {
  0% {
    opacity: 100%;
  }

  50% {
    opacity: 50%;
  }

  100% {
    opacity: 100%;
  }
}
